* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* flex-wrap: wrap;  */
}


footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    transition: position 0.3s;
     /* bottom: 0;   
     position: fixed; */
  

}


footer .logo {
    margin-bottom: 10px;
}

footer .logo img {
    border-radius: 50%;
}

footer .social-icons {
    margin: 10px 0;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

footer .social-icons a:hover {
    color: #f00; }

@media (max-width: 768px) {
  

    footer .social-icons a {
        margin: 0 8px;
        font-size: 1.3rem;
    }

    footer .logo img {
        width: 50px;
    }

    footer {
        padding: 6px 0;
    }

    footer .logo {
        margin-top: 8px;
    }
}
