body {
  margin: 0;
  display: grid;
  background-color: whitesmoke;
}

.wheelOfFortune {
  display: inline-block;
  position: relative;
  overflow: hidden;
  place-items: center;
  margin-bottom: 30px;
}

.pointer {
  font-size: larger;
  font-weight: bold;
}

#wheel {
  display: block;
}

#spin {
  font: 1em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%; /* لتحديد منتصف الصفحة رأسيًا */
  left: 50%; /* لتحديد منتصف الصفحة أفقيًا */
  transform: translate(-50%, -50%); /* لضبط المركز بناءً على أبعاد العنصر */
  width: 4%;
  height: 8%;
  color: #ffffff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}


#spin::after {
  content: '';
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.gift-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hide initially */
}

.gift-box {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.5);
  animation: bounce 1s ease infinite alternate;
}

.gift-lid {
  width: 200px;
  height: 40px;
  background-color: #ff1493;
  position: absolute;
  top: -40px;
  border-radius: 10px 10px 0 0;
  transform-origin: bottom;
  animation: openLid 0.8s ease forwards;
}

.gift-body {
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 20, 147, 0.5);
}

.gift-content img {
  max-width: 100px;
  max-height: 100px;
  display: none; /* Hide initially */
  cursor: pointer;
}

@keyframes openLid {
  from { transform: rotateX(0); }
  to { transform: rotateX(-150deg); }
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

@media (max-width: 480px) {
  #spin {
    width: 15%;
    height: 18%;
    bottom: 50%;
    left: 55%;
    transform: translateX(-50%);
    margin: -5%;
  }

  .pointer {
    font-size: small;
  }
}
#gift-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* خلفية داكنة */
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000; /* لتكون فوق العجلة */
}





